
.aboutStyle{
    text-align:center;
}

.aboutStyle ul li{
    text-align: center;
    list-style: inside;
    list-style-position: inside;
}

.aboutStyle ol li{
    text-align: center;
    list-style-position: inside;
}

h2{
    border-bottom: 1px solid #DADCE0;
}
h3{
    background: #80808038;
}
table, tbody, tr{
    width: 100%;
}