html, body{
    width: 100vw;
    height: 100vh;
}

#map{
    width: 100vw;
    height: 100vh;
}

#options{
    border-top: 1px solid #DADCE0;
}

#options > * {
    margin-top: 5px;
}

#loading{
    position: fixed;
    left: calc(100vw/2 - 100px);
    top: calc(100vh/2 - 200px);
    z-index: 20000;
}

#menu-title{
    padding: 3px;
}
#menu-title > *{
    display: inline;
    vertical-align:middle
}

#collapse{
    float: right;
    cursor: pointer;
}
#collapse:hover{
    background: #00000014;
}

#table{
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 10px;
    padding-right: 3px;
}

#table > * {
    font-size: 0.75em;
}

.menu{
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1000;
    background: #ffffff;
    padding: 5px;
    max-height: calc(100vh - 30px);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

input{
    background: none;
    border: none;
    border-bottom: 1px solid #80808082;
    padding-left: 2px;
    outline: none;
}

button{
    outline: none;
}

td{
    padding: 5px 0px;
    text-indent: 5px;
}

tr{
    cursor: pointer;
    border-bottom: 1px solid #DADCE0;
}

tr:hover{
    /*font-weight: 700;*/
    text-shadow: 1px 0px #000000;
}